:root{
    --back-colour: rgba(10, 40, 10, 0.3);
    --titles: white;
}
*{
    box-sizing: border-box;
}
body{
    background-image:url(/img/beach.jpg);
    background-size: 100% 100%;
    height: 100vh;   
}
/* top menu */
.top-menu{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--back-colour);
    border-bottom: solid 5px black;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
    position: sticky;
}
.ciao{
    padding:10px ;
    width: 200px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 100px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}
button:hover{
    transform: scale(1.2);
}
/* video toggle button */

.video-btn{
    position: fixed;
    left: 0;
    background-color: var(--back-colour);
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.video-btn:hover{
    transform:rotateZ(160deg)
}


/* video */
.video-body{
    
    max-height: 50vh;
    padding: 30px;
    margin-left: 40px;
}
h1{
    color: white;
}
.video{
    width: 40%;
    border-radius: 20px;
}
.controller{
    position: absolute;
    left: 200px;
    background-color:var(--back-colour);
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    border: 4px solid black;
}
.controller .start-btn,
.controller .stop-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.stamp{
    padding-left: 80px;
    font-weight: bolder;
    color: white;
}
.controller .start-btn{
    color: green;
}
.controller .stop-btn{
    color: red;
}
.controller .fa-pause{
    color: white;
}
.controller .start-btn:focus,
.controller .stop-btn:focus{
    outline: none;
}

.controller .start-btn:hover,
.controller .stop-btn:hover{
    transform: scale(1.2);
}
footer{
    color: white;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/* movies to watch */
.todo-body{
    position: absolute;
    right: 100px;
    top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:400px ;
    border-radius: 20px;
    margin-top: 20px;
    max-height: 500px;
    overflow:scroll;
}
form input, form button{
    border: none;
    padding: 3px;
    background-color: white;
    cursor: pointer;
}
form input{
    background-color: var(--back-colour);
    color: white;
}
form input{
    width: 350px;
    font-size: 20px;
    border-radius: 20px;
}
form input:focus,
form button:focus{
    outline: none;
}
/* form input:hover, */
form button:hover{
   transform: rotate(20deg);
}
.todo-list{
    list-style: none;
}
.todo{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    width: 300px;
    transition: 0.5s;
}
.todo li{
    flex: 1;
    background-color: var(--back-colour);
    border-radius: 20px;
    padding: 3px;
    font-size: 20px;
    margin-right: 8px;
    color: white;
}
.delete-btn, .complete-btn{
    cursor: pointer;
    padding: 5px;
}
.delete-btn, .complete-btn:focus{
    outline: none;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}
.delete-btn:hover,
.complete-btn:hover{
    transform: rotateZ(20deg);
}
.delete-btn{
    background-color: red;
}
.animation{
    transform: rotateZ(5deg);
    opacity: 0;
}
.complete-btn{
    background-color: green;
}
.checked{
    text-decoration: line-through;
    color: green;

}