*{
    box-sizing: border-box;
}
/* video */
.video-body{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    padding: 30px;
}
h1{
    color: black;
}
.video{
    width: 20%;
    border-radius: 20px;
}
.controller{
    background-color: thistle;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
.controller .start-btn,
.controller .stop-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.stamp{
    padding-left: 80px;
    font-weight: bolder;
}
.controller .start-btn{
    color: teal;
}
.controller .stop-btn{
    color: red;
}
.controller .fa-pause{
    color: white;
}
.controller .start-btn:focus,
.controller .stop-btn:focus{
    outline: none;
}

.controller .start-btn:hover,
.controller .stop-btn:hover{
    transform: scale(1.2);
}
footer{
    color: black;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 40px;
    padding-bottom: 40px;
}
/* anime */
.anime-btn{
    /* position: relative; */
    margin-left: 800px;
    margin-top: 200px;
}
/* movies to watch */
.todo-body{
    background-color: blueviolet;
    /* min-height: -50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:500px ;
}
form input, form button{
    border: none;
    padding: 7px;
    background-color: white;
    cursor: pointer;
}
form input{
    width: 350px;
    font-size: 20px;
    border-radius: 20px;
}
form input:focus,
form button:focus{
    outline: none;
}
/* form input:hover, */
form button:hover{
   transform: scale(1.2);
}
.todo-list{
    list-style: none;
}
.todo{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 400px;
}
.todo li{
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 3px;
    font-size: 20px;
    margin-right: 8px;
}
.delete-btn, .complete-btn{
    cursor: pointer;
    padding: 5px;
}
.delete-btn:hover,
.complete-btn:hover{
    transform: scale(1.2);
}
.delete-btn{
    background-color: red;
}
.complete-btn{
    background-color: green;
}